:root{
  --font-title: 'Roboto Mono', monospace;
  --font-text: 'Roboto Slab', serif;

  --background-color: #FFFFFF;
  --quote-background-color: #EAEAEA;
  --text-color: #000000;
  --scrollbar-track: #DDDDDD;
  --scrollbar-thumb: #AAAAAA;
  --scrollbar-hover: #888888;
  --scrollbar-drag: #666666;
  --link-color: #666666;
  --link-visited: #000000;
  --link-hover: #999999;
  --link-selected: #CCCCCC;
  --selection-color: #888888;

  /* --background-color: #000000;
  --quote-background-color: #111111;
  --text-color: #FFFFFF;
  --scrollbar-track: #BBBBBB;
  --scrollbar-thumb: #EEEEEE;
  --scrollbar-hover: #FFFFFF;
  --scrollbar-drag: #FFFFFF;
  --link-color: #BBBBBB;
  --link-visited: #FFFFFF;
  --link-hover: #DDDDDD;
  --link-selected: #FFFFFF;
  --selection-color: #333333; */
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 1rem;
}
h1 {
  font-family: var(--font-title);
  font-size: 2.1rem;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 2.4rem;
}
h3 {
  font-family: var(--font-title);
  font-style: italic;
  font-size: 1.3rem;
  width: 80%;
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}
h4.first_min {
  font-family: var(--font-title);
  font-size: 0.7rem;
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}
h4.first_main {
  font-family: var(--font-title);
  font-size: 0.9rem;
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}
h4.title {
  font-family: var(--font-title);
  font-size: 1.3rem;
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1rem;
}
h4.text {
  font-family: var(--font-title);
  font-size: 0.9rem;
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1rem;
}
p.intro {
  font-family: var(--font-text);
  font-size: 0.9rem;
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  text-align: justify;
}
p.body {
  font-family: var(--font-text);
  font-size: 0.9rem;
  text-indent: 2rem;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  text-align: justify;
}
p.script_name {
  text-align: center;
}
p.script_speech {
  text-align: justify;
  margin-left: 3rem;
  margin-right: 3rem;
}
p.footnote {
  display: block;
  padding-left: 3rem;
  text-indent: -3rem;
  text-align: justify;
}
div.chapter {
  margin-top: 1rem;
  margin-bottom: 6rem;
}
div.chaptertitle {
  margin: auto;
  width: 100%;
  margin-bottom: 2rem;
}
div.footnote {
  font-family: var(--font-text);
  font-size: 0.9rem;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 2em;
  background-color: var(--quote-background-color);
  padding: 1rem 1rem;
}
div.invisible {
  display: none;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover);
}
::selection {
  background: var(--selection-color);
}
::-moz-selection {
  background: var(--selection-color);
}
blockquote {
  position: relative;
  font-style: italic;
  text-align: justify;
  font-family: var(--font-text);
  padding: 1rem 1rem;
  font-size: 0.9rem;
  color: var(--text-color);
  margin: 1rem auto 1rem;
  padding-left: 1.2rem;
  background-color: var(--quote-background-color);
  display: table;
  width: 35%;
  max-width: 400px;
}
a {
  text-decoration: none;
}
a:link {
  color: var(--link-color);
}
a:visited {
  color: var(--link-visited);
}
a:hover {
  color: var(--link-hover);
}
a:active {
  color: var(--link-selected);
}
ol {
  list-style-type: none;
  font-family: var(--font-text);
  font-size: 0.9rem;
  width: 80%;
  max-width: 400px;
  margin: auto;
  margin-bottom: 0rem;
  counter-reset: item;
  padding-left: 0rem;
}
li {
  display: block;
}
li:before {
  content: counters(item, ".") ". ";
  counter-increment: item
}
sup {
  vertical-align: text-top;
  font-size: 0.7rem;
}
